{% extends 'base.html.twig' %}

{% block title %}Examen index{% endblock %}

{% block body %}
    <h1>Examen index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for examan in examens %}
            <tr>
                <td>{{ examan.id }}</td>
                <td>
                    <a href="{{ path('examen_show', {'id': examan.id}) }}">show</a>
                    <a href="{{ path('examen_edit', {'id': examan.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('examen_new') }}">Create new</a>
{% endblock %}
